<div id="spree-header">
  <header id="header" class="row" data-hook>
    <figure id="logo" class="col-md-4" data-hook>
      <%= logo %>
    </figure>
    <div class="col-md-8">
      <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
      <%= render :partial => 'spree/shared/nav_bar' %>
    </div>
    <div class="clearfix"></div>
  </header>
</div>
