<% if spree_current_user %>
  <li class="dropdown" id="accountmenu">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to Spree.t(:my_account), spree.account_path %></li>
    <li class="divider"></li>
    <li><%= link_to Spree.t(:logout), spree.logout_path %></li>
  </ul>
</li>
<% else %>
  <li id="link-to-login"><%= link_to Spree.t(:login), spree.login_path %></li>
<% end %>
